src/pipeline/Get Country Codes of EU Countries.json
{
	"name": "Get Country Codes of EU Countries",
	"properties": {
		"activities": [
			{
				"name": "Getting data from web to Data Lake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set ConatinerName Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['name']['official']"
								},
								"sink": {
									"name": "CountryName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['cca3']"
								},
								"sink": {
									"name": "CountryCode",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_webData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_datalake",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": {
								"value": "@variables('var_containerName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "set ConatinerName Variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_containerName",
					"value": {
						"value": "@pipeline().globalParameters.Environment",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Create Bronze Layer",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Getting data from web to Data Lake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "InputData To Bronze Layer",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ContainerName": {
							"value": "@variables('var_containerName')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Log Error",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set ConatinerName Variable",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Getting data from web to Data Lake",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Create Bronze Layer",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Execute Silver layer",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "Date",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							{
								"name": "PipelineName",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "factoryName",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_datalake",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": {
								"value": "@pipeline().globalParameters.Environment",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Execute Silver layer",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Create Bronze Layer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"var_containerName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-01-27T11:24:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}