src/pipeline/Get Country Codes of EU Countries.json
{
	"name": "Get Country Codes of EU Countries",
	"properties": {
		"activities": [
			{
				"name": "Getting data from web to Data Lake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set ConatinerName Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['name']['official']"
								},
								"sink": {
									"name": "CountryName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['cca3']"
								},
								"sink": {
									"name": "CountryCode",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_webData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_datalake",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": {
								"value": "@variables('var_containerName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "set ConatinerName Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_containerName",
					"value": {
						"value": "@activity('Web1').output.Value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kv-dev-fb.vault.azure.net/secrets/container/54c46791b7b64d4e96abddadd10799a2?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"variables": {
			"var_containerName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-01-27T11:24:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}