src/pipeline/InputData To Bronze Layer.json
{
	"name": "InputData To Bronze Layer",
	"properties": {
		"activities": [
			{
				"name": "Get childItems",
				"description": "Get all the children items of the folder pointed by Dataset.",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_inputLayer",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "  ",
							"ContainerName": {
								"value": "@pipeline().parameters.ContainerName",
								"type": "Expression"
							},
							"StorageAccount": {
								"value": "@pipeline().globalParameters.StorageAccountURL",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"itemType",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Loop through all the files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Remove folder from the list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Remove folder from the list').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Input to Bronze Layer",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "record_id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "record_id",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "customer_type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "customer_type",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "transaction_date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "transaction_date",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "posting_date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "posting_date",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "transaction_amount",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "transaction_amount",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Txn_Description",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Txn_Description",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "country",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "country",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Age_Band",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Age_Band",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "gender",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "gender",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Transaction_id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Transaction_id",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "customer_key",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "customer_key",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "customer_postcode",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "customer_postcode",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Notes",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Notes",
												"type": "String",
												"physicalType": "UTF8"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_inputLayer",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "@pipeline().parameters.ContainerName",
											"type": "Expression"
										},
										"StorageAccount": {
											"value": "@pipeline().globalParameters.StorageAccountURL",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_BronzeLayer",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": {
											"value": "@pipeline().parameters.ContainerName",
											"type": "Expression"
										},
										"StorageAccountURL": {
											"value": "@pipeline().globalParameters.StorageAccount",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete1",
							"description": "Delete the existing Input Layer after copying the data to Bronze layer.",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Input to Bronze Layer",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_inputLayer",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"ContainerName": {
											"value": "@pipeline().globalParameters.Environment",
											"type": "Expression"
										},
										"StorageAccount": {
											"value": "@pipeline().globalParameters.StorageAccount",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "Remove folder from the list",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get childItems",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get childItems').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ContainerName": {
				"type": "string"
			}
		},
		"variables": {
			"fileName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-01-27T12:10:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}