src/pipeline/Silver Layer.json
{
	"name": "Silver Layer",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/220282033@aston.ac.uk/SilverLayer",
					"baseParameters": {
						"containerName": {
							"value": "@pipeline().parameters.containerName",
							"type": "Expression"
						},
						"storageAccountName": {
							"value": "@pipeline().parameters.storageName",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks",
					"type": "LinkedServiceReference",
					"parameters": {
						"DatabricksResourceID": "/subscriptions/296d4cc4-ff15-4344-8973-0f580798f966/resourceGroups/Interviewfabledata/providers/Microsoft.Databricks/workspaces/fb-interview-adf",
						"DatabricksURL": "https://adb-5449257985605423.3.azuredatabricks.net"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Notebook1').output.runOutput.success, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Load to final table",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "SilverLayerToSQLTable",
									"type": "DataFlowReference",
									"parameters": {
										"ContainerName": "\"uat\""
									},
									"linkedServiceParameters": {
										"source1": {
											"linkedService": {
												"StorageAccountURL": "https://datastoresfd.dfs.core.windows.net/"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Something went wrong in Notebook",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@join(activity('Notebook1').output.runOutput.errorMessage, ',')",
									"type": "Expression"
								},
								"errorCode": "1"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"containerName": {
				"type": "string",
				"defaultValue": "dev"
			},
			"storageName": {
				"type": "string",
				"defaultValue": "datastoresfd"
			}
		},
		"annotations": []
	}
}