interview-fb-dev/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "interview-fb-dev"
		},
		"LS_SQL_database_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_SQL_database'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=@{linkedService().ServerName};Initial Catalog=@{linkedService().DatabaseName}"
		},
		"default_properties_Environment_value": {
			"type": "string",
			"defaultValue": "test"
		},
		"default_properties_StorageAccount_value": {
			"type": "string",
			"defaultValue": "datastoresfd"
		},
		"LS_webdata_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://restcountries.com/v3.1/region/europe"
		},
		"LS_DataLake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().StorageAccountURL}"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/globalparameters",
			"apiVersion": "2018-06-01",
			"properties": {
				"Environment": {
					"type": "string",
					"value": "[parameters('default_properties_Environment_value')]"
				},
				"StorageAccount": {
					"type": "string",
					"value": "[parameters('default_properties_StorageAccount_value')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_webdata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('LS_webdata_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/webRunTime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ManagedIdentitySQLDatabase')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/296d4cc4-ff15-4344-8973-0f580798f966/resourcegroups/Interviewfabledata/providers/Microsoft.ManagedIdentity/userAssignedIdentities/adf-fb"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_webData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_webdata",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_webdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureDatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"DatabricksResourceID": {
						"type": "String",
						"defaultValue": "/subscriptions/296d4cc4-ff15-4344-8973-0f580798f966/resourceGroups/Interviewfabledata/providers/Microsoft.Databricks/workspaces/fb-interview-adf"
					},
					"DatabricksURL": {
						"type": "String",
						"defaultValue": "https://adb-5449257985605423.3.azuredatabricks.net"
					}
				},
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "@linkedService().DatabricksURL",
					"authentication": "MSI",
					"workspaceResourceId": "@linkedService().DatabricksResourceID",
					"credential": {
						"referenceName": "ManagedIdentitySQLDatabase",
						"type": "CredentialReference"
					},
					"newClusterNodeType": "Standard_D4d_v4",
					"newClusterNumOfWorker": "1",
					"newClusterSparkEnvVars": {
						"PYSPARK_PYTHON": "/databricks/python3/bin/python3"
					},
					"newClusterVersion": "10.4.x-scala2.12",
					"newClusterInitScripts": [],
					"clusterOption": "Fixed"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/credentials/ManagedIdentitySQLDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_DataLake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"StorageAccountURL": {
						"type": "String",
						"defaultValue": "https://datastoresfd.dfs.core.windows.net/"
					}
				},
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_DataLake_properties_typeProperties_url')]",
					"credential": {
						"referenceName": "ManagedIdentitySQLDatabase",
						"type": "CredentialReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/credentials/ManagedIdentitySQLDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_database')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"DatabaseName": {
						"type": "String",
						"defaultValue": "fbtest"
					},
					"ServerName": {
						"type": "String",
						"defaultValue": "fbserverint.database.windows.net"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_SQL_database_connectionString')]",
					"credential": {
						"referenceName": "ManagedIdentitySQLDatabase",
						"type": "CredentialReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/credentials/ManagedIdentitySQLDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azuresqltable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_database",
					"type": "LinkedServiceReference",
					"parameters": {
						"DatabaseName": "fbtest",
						"ServerName": "fbserverint.database.windows.net"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "inputTestData"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BronzeLayer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_DataLake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ContainerName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Bronze",
						"fileSystem": {
							"value": "@dataset().ContainerName",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_datalake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_DataLake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ContainerName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "EuropeCountry.csv",
						"folderPath": "Europe",
						"fileSystem": {
							"value": "@dataset().ContainerName",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_inputLayer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_DataLake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "String"
					},
					"ContainerName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().ContainerName",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "uat"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InputData To Bronze Layer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get childItems",
						"description": "Get all the children items of the folder pointed by Dataset.",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_inputLayer",
								"type": "DatasetReference",
								"parameters": {
									"FileName": " ",
									"ContainerName": {
										"value": "@pipeline().parameters.ContainerName",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems",
								"itemType",
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Loop through all the files",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Remove folder from the list",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Remove folder from the list').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Input to Bronze Layer",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "record_id",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "record_id",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "customer_type",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "customer_type",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "transaction_date",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "transaction_date",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "posting_date",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "posting_date",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "transaction_amount",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "transaction_amount",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "Txn_Description",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Txn_Description",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "country",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "country",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "Age_Band",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Age_Band",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "gender",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "gender",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "Transaction_id",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Transaction_id",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "customer_key",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "customer_key",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "customer_postcode",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "customer_postcode",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "Notes",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Notes",
														"type": "String",
														"physicalType": "UTF8"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_inputLayer",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"ContainerName": {
													"value": "@pipeline().parameters.ContainerName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_BronzeLayer",
											"type": "DatasetReference",
											"parameters": {
												"ContainerName": {
													"value": "@pipeline().parameters.ContainerName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete1",
									"description": "Delete the existing Input Layer after copying the data to Bronze layer.",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Input to Bronze Layer",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_inputLayer",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"ContainerName": {
													"value": "@pipeline().globalParameters.Environment",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": false,
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					},
					{
						"name": "Remove folder from the list",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get childItems",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get childItems').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ContainerName": {
						"type": "string"
					}
				},
				"variables": {
					"fileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-27T12:10:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_inputLayer')]",
				"[concat(variables('factoryId'), '/datasets/DS_BronzeLayer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SilverLayerToSQLTable')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "LS_DataLake",
								"type": "LinkedServiceReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Azuresqltable",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"parameters{",
						"     ContainerName as string (\"uat\")",
						"}",
						"source(output(",
						"          File_date as date,",
						"          record_id as string,",
						"          customer_type as string,",
						"          transaction_date as date,",
						"          posting_date as date,",
						"          transaction_amount as string,",
						"          Description_text as string,",
						"          original_description_text as string,",
						"          country_code as string,",
						"          EU_flag as integer,",
						"          age_band as string,",
						"          gender_code as string,",
						"          transaction_id as string,",
						"          customer_key as string,",
						"          post_code as string,",
						"          note_text as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'delta',",
						"     fileSystem: ($ContainerName),",
						"     folderPath: 'Silver') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     batchSize: 5000,",
						"     preSQLs:['drop table if exists dbo.inputTestData\\ncreate table dbo.inputTestData\\n(\\n     file_date date\\n     , record_id nvarchar(100)\\n     , customer_type nvarchar(100)\\n     , transaction_date date\\n     , posting_date date\\n     , transaction_amount nvarchar(100)\\n     , description_text nvarchar(100)\\n     , original_description_text nvarchar(100)\\n     , country_code nvarchar(4)\\n     , EU_flag int\\n     , age_band nvarchar(10)\\n     , gender_code nvarchar(1)\\n     , transaction_id nvarchar(50)\\n     , customer_key nvarchar(50)\\n     , post_code nvarchar(10)\\n     , note_text nvarchar(50)\\n)'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_DataLake')]",
				"[concat(variables('factoryId'), '/datasets/Azuresqltable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Silver Layer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/220282033@aston.ac.uk/SilverLayer",
							"baseParameters": {
								"containerName": {
									"value": "@pipeline().parameters.containerName",
									"type": "Expression"
								},
								"storageAccountName": {
									"value": "@pipeline().parameters.storageName",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Notebook1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Notebook1').output.runOutput.success, 0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Load to final table",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "SilverLayerToSQLTable",
											"type": "DataFlowReference",
											"parameters": {
												"ContainerName": "\"uat\""
											},
											"datasetParameters": {
												"source1": {},
												"sink1": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Something went wrong in Notebook",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@join(activity('Notebook1').output.runOutput.errorMessage, ',')",
											"type": "Expression"
										},
										"errorCode": "1"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"containerName": {
						"type": "string",
						"defaultValue": "dev"
					},
					"storageName": {
						"type": "string",
						"defaultValue": "datastoresfd"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureDatabricks')]",
				"[concat(variables('factoryId'), '/dataflows/SilverLayerToSQLTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Get Country Codes of EU Countries')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Getting data from web to Data Lake",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "set ConatinerName Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['name']['official']"
										},
										"sink": {
											"name": "CountryName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['cca3']"
										},
										"sink": {
											"name": "CountryCode",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_webData",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_datalake",
								"type": "DatasetReference",
								"parameters": {
									"ContainerName": {
										"value": "@variables('var_containerName')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "set ConatinerName Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set StorageAccount Name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "var_containerName",
							"value": {
								"value": "@pipeline().globalParameters.Environment",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Create Bronze Layer",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Getting data from web to Data Lake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "InputData To Bronze Layer",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ContainerName": {
									"value": "@variables('var_containerName')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Execute Silver layer",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create Bronze Layer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Silver Layer",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"containerName": {
									"value": "@variables('var_containerName')",
									"type": "Expression"
								},
								"storageName": {
									"value": "@pipeline().globalParameters.StorageAccount",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Set StorageAccount Name",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "var_storageAccountName",
							"value": {
								"value": "@pipeline().globalParameters.StorageAccount",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"var_containerName": {
						"type": "String"
					},
					"var_storageAccountName": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-27T11:24:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_webData')]",
				"[concat(variables('factoryId'), '/datasets/DS_datalake')]",
				"[concat(variables('factoryId'), '/pipelines/InputData To Bronze Layer')]",
				"[concat(variables('factoryId'), '/pipelines/Silver Layer')]"
			]
		}
	]
}